.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
inst/doc
R/lever_rule_ternary.R
data/damhus.csv
data/database-2025_lia.xlsx
data/mixing_modles_reference_data.xlsx
data/mixing_modles_test_data.xlsx
data/REF Salzburg.xlsx
data/WOD_Salzburg.xlsx
R/mix_exersize.R
Rplots.pdf
